<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .navbar {
            overflow: hidden;
            background-color: #8B008B;
            font-family: Arial, Helvetica, sans-serif;
        }

        .navbar a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }

        .dropdown {
            float: left;
            overflow: hidden;
        }

        .dropdown .dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 20px 20px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .navbar a:hover, .dropdown:hover .dropbtn {
            background-color: red;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 222px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {
            background-color: #737373;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
        #content {
            border:1px solid black;
        }
        #content > div {
            height:300px;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
        }
        .resizable {
            overflow: scroll;
            resize: both;
            float:left;
            width: 50%;

        }
        .resizable1 {
            overflow: scroll;
            resize: both;
            float:right;
            width: 50%;

        }
        .resizable2{
            overflow: scroll;
            resize: both;
            border-top:1px solid black;
            clear: both;}
        th, td {
            padding: 8px;
        }

    </style>
</head>
<body>

<div class="navbar">
    <a href="/demo/#gist:<%=dataID%>">Back To SparqlBlocks  page</a>
    <a href="/query1?query1=<%=encodeURIComponent(QUERY)%>">Save Query As Sparql</a>
    <a href="/json1?json1=<%=encodeURIComponent(JS)%>">Save Results As Json</a>
    <a href="/svg1?svg=<%=encodeURIComponent(SVG)%>">Save Query As Visual Format</a>

    <div class="dropdown">
        <button class="dropbtn">History of QueryResults
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <%for(var i=0;i<timeStamp.length&&i<gistID1.length;i++){ %>
            <a href="/gist1?gistID=<%=encodeURIComponent(gistID1[i])%>" target="_blank"><%=timeStamp[i]%></a>
            <%}%>
        </div>
    </div>
</div>

<div id="content">
    <div draggable="true" class="resizable" id="query"><h1>Sparql Textual Query</h1><p> <%=QUERY%></p></div>
    <div draggable="true" class="resizable1" id="svg"><h1>Sparql Visual Query&Results</h1><p><%- SVG%></p></div>
    <div draggable="true" class="resizable2" id="result"><h1>SparqlQuery Results Table</h1><%var js = JSON.parse(JS);
        var vars = js.head.vars;
        var bindings = js.results.bindings;%>
        <table border="1">
            <tr>
                <%for(i in vars)
                {%>
                <th ><%=vars[i]%></th><%}%>
            </tr>
            <%for(j in bindings) {
                var binding = bindings[j];%>
            <tr>
                <%for(n in binding) {%>
                <td><%=binding[n].value%></td>
                <%}%></tr>
            <%}%>
        </table></div>
</div>
</body>